<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppFix</title>
</head>
<body>

{% extends "base.html" %}

{% block content %}

<p>Public Apps:</p>

<ul>
    {% for app in apps %}
        {% if app.access == 'public' %}
        <li>
            Date added: <a>{{ app.date_added }} <br></a>
            App Owner: <a href="{% url 'view_profile' app.owner.id %}">{{ app.owner.login }}  <br></a>
            App Name: <a href="{% url 'app' app.id %}">{{ app.name }}</a>
        </li>
        {% endif %}
    {% empty %}
        <li>Nie została jeszcze dodana żadna aplikacja.</li>

    {% endfor %}
</ul>

    <p>Your Private Apps:</p>

<ul>
    {% for app in apps %}
        {% if app.access == 'private' and app.owner == user %}
        <li>
            Date added: <a>{{ app.date_added }} <br></a>
            App Owner: <a href="{% url 'view_profile' app.owner.id %}">{{ app.owner.login }}  <br></a>
            App Name: <a href="{% url 'app' app.id %}">{{ app.name }}</a>
        </li>
        {% endif %}
    {% empty %}
        <li>Nie została jeszcze dodana żadna aplikacja.</li>

    {% endfor %}
</ul>



   <a href="{% url 'new_app' %}">Dodaj nową aplikację</a>




{% endblock content %}

</body>
</html>