{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppFix</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
     <style>
        .wrapped-text {
            white-space: pre-wrap;
            word-wrap: break-word;

        }
         body {
        margin: 0;
    }
    div {margin: 0}
    nav {margin:0}
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light mb-0 border">

    <a class="navbar-brand" href="{% url 'index' %}">Home</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link"  href="{% url 'doc' %}">Dokumentacja</a></li>
        <li class="nav-item">
    <a class="nav-link"  href="{% url 'download' %}">Pobierz Pynalise</a></li>
        <li class="nav-item">
    <a class="nav-link" href="{% url 'new_report' '8' %}">Zgłoś błąd</a></li>
    </ul>

    <ul class="navbar-nav ml-auto">
    {% if user.is_authenticated %}
    <li class="nav-item">
       <span class="navbar-text"> Witaj, <a class="navbar-text"  href="{% url 'view_profile' request.user.id %}">{{ request.user.login }}</a></span>
        <a class="navbar-text"  href="{% url 'users:logout' %}">Wyloguj</a>
{#    <span class="navbar-text">Witaj, {{ user.username }}.</span>#}
    </li>
    {% else %}
    <li class="nav-item">
    <a class="nav-link" href="{% url 'users:register' %}">Rejestracja</a>
    </li>
    <li class="nav-item">
     <a class="nav-link"  href="{% url 'users:login' %}">Logowanie</a></li>
    {% endif %}
    </ul>

    </div>

{#    <a href="{% url 'apps' %}">Apps</a> -#}
{#     <a href="{% url 'company' %}">Company</a> -#}
{#    <a  href="{% url 'doc' %}">Dokumentacja</a> -#}
{#    <a  href="{% url 'download' %}">Pobierz Pynalise</a> -#}
{#    <a  href="{% url 'new_report' '8' %}">Zgłoś błąd</a> -#}

{#    {% if user.is_authenticated %}#}
{#        Hello, <a  href="{% url 'view_profile' request.user.id %}">{{ request.user.login }}</a> -#}
{#        <a  href="{% url 'users:logout' %}">Log Out</a>#}
{#    {% else %}#}
{#        <a  href="{% url 'users:register' %}">Rejestracja</a> -#}
{#        <a  href="{% url 'users:login' %}">Logowanie</a>#}

{##}
{#    {% endif %}#}

</nav>
{% block content %}xxx{% endblock content %}
</body>

</html>