<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppFix</title>
</head>
<body>
<p>
    <a href="{% url 'index' %}">Home</a> -
    <a href="{% url 'apps' %}">Apps</a> -
     <a href="{% url 'company' %}">Company</a> -

    {% if user.is_authenticated %}
        Hello, <a href="{% url 'view_profile' request.user.id %}">{{ request.user.login }}</a> -
        <a href="{% url 'users:logout' %}">Log Out</a>
    {% else %}
        <a href="{% url 'users:register' %}">Register</a> -
        <a href="{% url 'users:login' %}">Log In</a>


    {% endif %}

</p>
{% block content %}{% endblock content %}
</body>
</html>