<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppFix</title>
</head>
<body>

{% extends "base.html" %}
{% block content %}
<p>Strona poświęcona przedstawieniu oraz testowaniu preojektu inżynierskiemu Pynalise, projekt obejmuje aplikację desktopową Pynalise którą można pobrać wchodząc w odpowiednią podstronę. Można przeczytać dokumentację dotyczącą projektu. Jeśli znajdziesz błąd zgłoś go logując się na stronę i zamieszczając wpis dotyczący problemu.</p>
{% endblock content %}

</body>
</html>