<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppFix</title>
</head>
<body>

{% extends "base.html" %}
{% load bootstrap4 %}
{% block page_header %}

    <h2>Zgłoszenie:</h2>


{% endblock page_header %}
{% block content %}

        <form action="{% url 'new_report' app_id=app_id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
{#           {{ form.as_p }}#}
            <button name="submit">Send Report</button>
        </form>

{% endblock content %}

</body>
</html>