<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppFix</title>
</head>
<body>

{% extends "base.html" %}

{% block content %}
    {% if request.user.id == user.id %}
        <a href="{% url 'edit_profile' %}">Edycja profilu</a>
    {% endif %}
    <p><i class="fa-solid fa-circle-user"></i> Profil użytkownika: {{ user.login }}</p>
     {% if user_company != 'No Company' %}
          <p> <i class="fa-solid fa-building"></i> Company: {{ user_company.company.name}}</p>
     {%  else %}
      <p><i class="fa-solid fa-building"></i> Company: {{ user_company}}</p>
    {% endif %}


    <p><i class="fa-solid fa-calendar-days"></i> Last Login: {{ user.last_login}}</p>
    <p><i class="fa-solid fa-calendar-days"></i> Data Dołączenia: {{ user.date_registration }}</p>
   <p> <a href="https://discord.com/{{ user.discord_profile }}" target="_blank" rel="noopener noreferrer">
  <i class="fab fa-discord"></i></a>

    Discord profile: {{ user.discord_profile }}</p>
    <p><a href="https://github.com/your-github-profile" target="_blank" rel="noopener noreferrer">
  <i class="fab fa-github"></i></a> Github profile: {{ user.github_profile }}</p>
    <p><a href="https://www.linkedin.com/in/your-linkedin-profile" target="_blank" rel="noopener noreferrer">
  <i class="fab fa-linkedin"></i></a> LinkedIn profile: {{ user.linkedin_profile }}</p>
    <p><a href="https://twitter.com/your-twitter-profile" target="_blank" rel="noopener noreferrer">
  <i class="fab fa-twitter"></i></a> Twitter profile: {{ user.twitter_profile}}</p>
    <p><i class="fa-solid fa-phone"></i> Phone number: {{ user.phone_number}}</p>
     <p><i class="fa-solid fa-square-envelope"></i> E-mail: {{ user.email}}</p>
    <p><i class="fa-solid fa-envelope"></i> Count of Reports: {{ report_count}}</p>
     <p><i class="fa-solid fa-thumbs-up"></i> Upvotes: {{ user.upvotes}}</p>
        <p>Status:
        {% if  user.is_online == True%}
           <i class="fas fa-circle" style="color: green;"></i> User is online
        {% else %}
           <i class="fas fa-circle" style="color: red;"></i> User is offline
        {% endif %}
         </p>

{% endblock content %}

</body>
</html>